extends layout

block content
  h1= "CI/CD with Github Actions, Docker, GCP Cloud Run"
  p Welcome to CI/CD with Github Actions, Docker, GCP Cloud Run. Demo for the social networks

  p
    | The commit that produced this build is 
    a(href=commitLink)= sha
